/* 
  TABLE OF CONTENTS
  1.  Normalization
  2.  General
  3.  Typegraphy
  4.  Navigation
  5.  Modals
  6.  Forms
  7.  Calendar
*/

/* 
  1.  Normalization
  ===================
*/

@import "normalize.css";

/* 
  2.  General
  ===================
*/

body,
html {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: white;
  font-family: Helvetica, san-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.67;
  position: relative;
}

a,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

ol {
  padding-left: 18px;
}

ul {
  list-style: none;
  padding-left: 0;
}

button,
.button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  display: inline-block;
  width: 265px;
  max-width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7.5px;
  color: #898787;
  background-color: white;
  border-radius: 28px;
  padding: 16px;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.bg__red {
  background-color: #c12333;
}

.bg__yellow {
  background-color: #f4b023;
}

.bg__blue {
  background-color: #105faa;
}

body footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body footer > i,
body footer > nav {
  display: inline-block;
}

body footer > nav:first-of-type > a {
  text-transform: uppercase;
  margin: 0 8px;
  display: inline-block;
  font-size: 12px;
}

.p__group {
  display: block;
  margin: 0 0 2em;
}

.p__group > :first-child {
  margin-top: 0;
}

.p__group > :last-child {
  margin-bottom: 0;
} 

/* 
  3.  Typography
  ===================
*/

h1, h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 7vw;
  color: inherit;
}

h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 0;
  color: inherit;
}

h4 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 34px;
  line-height: 1.39;
  letter-spacing: 0.015625rem;
  color: inherit;
}

h5 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 1.67;
  color: inherit;
  font-weight: 300;
}

h6 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: inherit;
  text-transform: uppercase;
}

.type__caption {
  font-size: 12px;
  letter-spacing: 0.025rem;
}

.type__spacey { letter-spacing: 17.7px; }
.type__spacey_4 { letter-spacing: 4.4px; }
.type__spacey_6 { letter-spacing: 6.7px; }
.type__spacey_9 { letter-spacing: 9px; }

.type__uppercase {
  text-transform: uppercase;
}

.type__color_white {
  color: white;
}

.type__center {
  text-align: center;
}

.type__underline {
  text-decoration: underline;
}

.type__bold { font-weight: bold; }
.type__lighter { font-weight: lighter; }
.type__weight_300 { font-weight: 300; }
.type__weight_500 { font-weight: 500; }
.type__weight_600 { font-weight: 600; }

.type__no_margin {
  margin: 0;
}

.type__fade {
  opacity: 0.5;
}

@media (min-width: 900px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 64px;
  }
}


/* 
  4.  Navigation
  ===================
*/

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #898787;
  color: white;
  text-align: center;
  z-index: 98;
  min-height: 58px;
}

.body__home > nav {
  top: initial;
  bottom: 0;
}

body > nav .nav__list {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #898787;
  -webkit-transition: opacity 200ms linear 200ms;
  transition: opacity 200ms linear 200ms;
}

body > nav .nav__list[data-state="closed"] {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

body > nav .nav__list[data-state="open"] {
  height: calc(100vh - 58px);
  top: 58px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.body__home > nav .nav__list[data-state="open"] {
  top: 0;
}

body > nav .nav__list a {
  text-transform: uppercase;
  display: block;
  padding: 1em 0.85em;
  letter-spacing: 2.3;
}

body > nav .nav__list[data-state="open"] > a {
  width: 100%;
  padding: 2em 1em;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
}

body > nav .nav__toggle {
  width: 48px;
  height: 48px;
  position: fixed;
  right: 48px;
  top: 5px;
  cursor: pointer;
}

body > nav .nav__toggle > span {
  width: 100%;
  display: block;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  margin: 23px auto;
  position: relative;
  -webkit-transition: height linear 100ms;
  transition: height linear 100ms;
}

body > nav .nav__toggle > span::before,
body > nav .nav__toggle > span::after {
  content: "";
  width: 100%;
  display: block;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-transition: -webkit-transform linear 200ms;
  transition: -webkit-transform linear 200ms;
  transition: transform linear 200ms;
  transition: transform linear 200ms, -webkit-transform linear 200ms;
}

body > nav .nav__toggle > span::before { top: -11px; }
body > nav .nav__toggle > span::after { top: 11px; }

body > nav .nav__list[data-state="open"] + .nav__toggle > span {
  height: 0;
}

body > nav .nav__list[data-state="open"] + .nav__toggle > span::before,
body > nav .nav__list[data-state="open"] + .nav__toggle > span::after {
  top: 0;
  left: 0;
}

body > nav .nav__list[data-state="open"] + .nav__toggle > span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body > nav .nav__list[data-state="open"] + .nav__toggle > span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 992px) {
  body > nav {
    position: absolute;
  }

  body>nav .nav__list {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

  body > nav .nav__list[data-state="closed"] {
    max-height: 58px;
    opacity: 1;
  }

  body > nav .nav__list a {
    text-transform: uppercase;
    display: inline-block;
    padding: 1em 0.85em;
    letter-spacing: 2.3;
  }

  body > nav .nav__toggle {
    display: none;
  }
}

/* 
  5.  Modals
  ========================
*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .modal__content {
  width: 930px;
  max-width: 100%;
  max-height: 768px;
  background-color: #2f2d2d;
  padding: 6em 2em;
  overflow: auto;
}

/* 
  6.  Forms
  ===================
*/

form {
  max-width: 600px;
  margin: 2em auto;
}

form .form__group_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3em;
  max-width: 356px;
}

form .form__group_flex.extended,
form .form__group.extended {
  max-width: 100%;
}

form .form__group {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 3em;
  max-width: 356px;
}

form .form__group_flex .form__group {
  max-width: 168px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 168px;
          flex: 0 1 168px;
  margin-bottom: 0;
}

form .form__group > label {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background-color: #2f2d2d;
  -webkit-transition: -webkit-transform linear 200ms;
  transition: -webkit-transform linear 200ms;
  transition: transform linear 200ms;
  transition: transform linear 200ms, -webkit-transform linear 200ms;
}

form .form__group > textarea + label {
  top: 16px;
  -webkit-transform: translateY(0);
          transform: translateY(0)
}

form .form__group > input[type],
form .form__group > textarea {
  width: 100%;
  border: 2px solid white;
  border-radius: 3px;
  background-color: rgba(0,0,0,0);
  padding: 16px;
  color: white;
  font-size: 12px;
}

form .form__cc_group > span {
  display: inline-block;
  color: inherit;
  font-size: 48px;
}

form .form__cc_group > span > i {
  line-height: 0.75;
}

form .form__cc_group .cc.active { background-color: white; }
form .form__cc_group .cc__visa.active { color: #1a1f71; }
form .form__cc_group .cc__mastercard.active { color: #cc0000; }
form .form__cc_group .cc__amex.active { color: #002663; }
form .form__cc_group .cc__discover.active { color: #E55C20; }

form input[type]:focus,
form input[type]:active,
form textarea:focus,
form textarea:active {
  outline: none;
}

form input[type]:focus + label,
form input[type]:active + label,
form input[type]:valid + label {
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
}

form textarea:focus + label,
form textarea:active + label,
form textarea:valid + label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}

form input[type="radio"] {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

form input[type="radio"] + label {
  font-size: 48px;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  padding: 0.85rem;
  border-radius: 3px;
  -webkit-transition: background-color linear 200ms;
  transition: background-color linear 200ms;
}

form input[type="radio"] + label:hover,
form input[type="radio"]:active + label,
form input[type="radio"]:focus + label,
form input[type="radio"]:checked + label {
  background-color: #609570;
}

/* 
  7.  Calendar
  ====================
*/

.calendar {
  width: 350px;
  max-width: 100%;
}

.calendar .calendar__month,
.calendar .calendar__days_of_week {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.calendar .calendar__month > span {
  cursor: pointer;
}

.calendar .calendar__month .calendar__current_month {
  margin: 0;
  font-weight: 300;
  letter-spacing: 4.5px;
}

.calendar .calendar__days_of_week {
  font-size: 12px;
  font-weight: lighter;
}

.calendar .calendar__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calendar .calendar__days_of_week > p,
.calendar .calendar__days > span {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14.2857143%;
          flex: 0 1 14.2857143%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calendar .calendar__days > span {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar .calendar__days > span.current {
  border: 2px solid white;
  border-radius: 50%;
}

/* 
  Home
  =====================
*/

.body__home > nav .nav__toggle {
  bottom: 5px;
  top: initial;
}

.body__home > main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  background-image: url("../images/home_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body__home > main .logo {
  display: block;
  width: 262px;
  max-width: 100%;
  padding: 2em 0 0;
  margin: 0 auto;
}

.body__home > main > section {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
  text-align: center;
}

.body__home > main > section > h5 {
  padding: 1em 0.5em;
  max-width: 998px;
  margin: 0 auto;
}

.body__home > main > section > .button {
  margin: 2em auto 4em;
}

/* 
  Sign Up
  =================
*/

.modal.modal__sign_up .modal__content > h4 {
  max-width: 720px;
  margin: auto;
  font-weight: 300;
}

.modal.modal__sign_up .modal__content>form {
  margin-top: 4em;
}

.modal.modal__sign_up .modal__content>h5 {
  margin: 0;
}

/* 
  Sign Up  - Alternate
  =======================
*/

.modal.modal__sign_up_alternate,
.modal.modal__sign_up_alternate .modal__content,
.modal.modal__sign_up_alternate .modal__content>form .form__group>label {
  background-color: #609570;
}

/* 
  Donate
  =======================
*/

.body__donate {
  background-color: #36b24e;
}

.body__donate > header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2em;
}

.body__donate > header > a{
  display: block;
  max-width: 300px;
  margin-bottom: 4em;
}

.body__donate > header > a > img {
  max-width: 100%;
}

.body__donate > form {
  max-width: 1140px;
  color: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.body__donate > form > section:first-child {
  max-width: 356px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 365px;
          flex: 0 1 365px;
}

.body__donate > form > section:last-child {
  max-width: 500px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
}

.body__donate > form > section > h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.body__donate > form > section > .form__group,
.body__donate > form > section > .form__group_flex {
  margin-bottom: 2em;
}

.body__donate > form .form__group > label {
  background-color: #36b24e;
}

.body__donate > form .form__group > input[type] {
  padding: 8px 16px;
}

.body__donate > form input[type]:focus + label,
.body__donate > form input[type]:active + label,
.body__donate > form input[type]:valid + label {
  -webkit-transform: translateY(-133%);
          transform: translateY(-133%);
}

.body__donate > footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2em;
  text-align: end;
  color: white;
}

.body__donate > footer > i,
.body__donate > footer > nav {
  display: inline-block;
}

/* 
  Blog
  =================
*/

.body__blog > header {
  padding: 120px 2em 60px;
  max-width: 1140px;
  margin: 0 auto;
}

.body__blog > main {
  max-width: 1440px;
  margin: 0 auto;
}

.body__blog > main .blog__item_full {
  width: 100%;
  position: relative;
}

.body__blog > main .blog__item_full .blog__item_full_background {
  height: 0;
  overflow: hidden;
  padding-top: 61.11%;
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body__blog > main .blog__item_full .blog__item_content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #609570;
  color: white;
  padding: 2em 1em;
}

.body__blog > main .blog__item_full .blog__item_content > h2 {
  margin: 0;
  max-width: 768px;
  font-family: Helvetica, sans-serif;
  line-height: 1.25;
}

.body__blog > main .blog__item_full .blog__item_content > h5 {
  margin: 0;
}

.body__blog > main .blog__other_items {
  max-width: 1180px;
  margin: 96px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.body__blog > main .blog__other_items > section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body__blog > main .blog__other_items > section:first-child {
  max-width: 488px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 488px;
          flex: 0 1 488px;
}

.body__blog > main .blog__other_items > section:last-child {
  max-width: 683px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 683px;
          flex: 0 1 683px;
}

.body__blog > main .blog__other_items > section .blog__item {
  margin: 28px 14px;
  position: relative;
}

.body__blog > main .blog__other_items > section .blog__item_medium {
  max-width: 100%;
  color: white;
}

.body__blog > main .blog__other_items > section .blog__item_medium .blog__item_medium_background {
  height: 0;
  overflow: visible;
  padding-top: 66.52%;
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body__blog > main .blog__other_items > section .blog__item_medium .blog__item_content {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(59, 133, 88, 0.75);
  padding: 1em;
}

.body__blog > main .blog__other_items > section .blog__item_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__blog > main .blog__other_items > section .blog__item_small .blog__item_small_image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 195px;
          flex: 1 1 195px
}

.body__blog > main .blog__other_items > section .blog__item_small .blog__item_small_image > img {
  width: 100%;
}

.body__blog > main .blog__other_items > section .blog__item_small .blog__item_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 460px;
          flex: 1 1 460px;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body__blog > main .blog__other_items > section h5 {
  font-weight: 500;
  margin: 0;
  max-width: 312px;
  line-height: 1.46;
}

.body__blog > main .blog__other_items > section .blog__item_small h5 {
  max-width: 100%;
}

.body__blog > main .blog__other_items > section .blog__item_small .button {
  padding: 8px 16px;
  color: #898787;
}

.body__blog > main .blog__more {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.body__blog > footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2em;
  text-align: right;
  color: #a7a7a7;
}

@media (min-width: 500px) {
  .body__blog > main .blog__other_items > section .blog__item_medium .blog__item_content {
    position: absolute;
    left: 0;
    bottom: 26px;
    width: auto;
  }

  .body__blog > main .blog__other_items > section .blog__item_medium h5 {
    margin-right: 32px;
  }
}

@media (min-width: 700px) {
  .body__blog > main .blog__other_items > section .blog__item_small .blog__item_small_image > img {
    max-width: 100%;
    width: auto;
  }

  .body__blog>main .blog__other_items>section .blog__item_small .blog__item_content {
    height: 195px;
    padding-left: 64px;
  }
}

@media (min-width: 900px) {
  .body__blog > main .blog__item_full .blog__item_content {
    padding-left: 7em;
    padding-right: 3em;
    left: 0;
    top: initial;
    bottom: 60px;
    width: auto;
    position: absolute;
  }
}

/* 
  Volunteer
  =====================
*/

.body__volunteer {
  background-image: url(../images/text-background.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.body__volunteer > main {
  padding: 106px 2em 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  color: white;
}

.body__volunteer > main .volunteer__content {
  max-width: 768px;
  margin: 0 auto;
}

.body__volunteer > main .volunteer__content > p:not([class="type__caption"]) {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.2;
  line-height: 1.45;
}

.body__volunteer > main .volunteer__content > ol > li {
  margin-bottom: 1em;
}

.body__volunteer > footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  padding: 64px 2em;
  text-align: center;
  color: white;
  background-image: url(../images/picture.png);
  background-position-y: -100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.body__volunteer > footer .button {
  display: block;
  margin: 0 auto 48px;
}

@media (min-width: 1080px) {
  .body__volunteer {
    overflow: hidden;
  }

  .body__volunteer > main {
    overflow-y: auto;
  }

  .body__volunteer > footer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: 100%;
    background-position-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/* 
  About
  ==============
*/

.body__about {
  background-image: url(../images/blue-background.png);
  background-position: center;
  background-size: cover; 
}

.body__about > main > section:first-of-type {
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 106px 2em 48px;
  color: white;
}

.body__about > main > section:first-of-type > header {
  text-align: center;
}

.body__about > main > section .about__heading_content {
  margin: 8em auto 3em;
}

.body__about > main > section .about__heading_content > h6 {
  font-family: "Roboto", Helvetica, san-serif;
  font-weight: 300;
  margin: 0;
  max-width: 656px;
}

.body__about > main > section .about__heading_content > h1 {
  margin: 16px 0;
  line-height: normal;
  letter-spacing: 1.5;
}

.body__about > main > section .about__heading_content > p {
  max-width: 350px;
}

.body__about > main > section .about__content {
  color: white;
  padding: 2em 1.5em;
  max-width: 365px;
  margin: 0 auto;
}

.body__about > main > section .about__content > p {
  line-height: 1.67;
  margin-bottom: 20px;
}

.body__about > main > section .about__content > p:first-of-type {
  font-size: 14px;
}

.body__about > main > section .about__content .button {
  display: block;
  margin: 20px auto;
}

.body__about > footer {
  color: white;
  padding: 2em;
  text-align: right;
}

@media (min-width: 1080px) {
  .body__about {
    position: relative;
  }

  .body__about > main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }

  .body__about > main > section:first-of-type {
    max-width: 500px;
    height: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
  }

  .body__about > main > section .about__heading_content {
    margin-top: 19em;
  }

  .body__about>main>section .about__heading_content>h1 {
    white-space: nowrap;
  }

  .body__about > main > section:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .body__about > footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 1440px) {
  .body__about > main > section .about__heading_content {
    padding-left: 7em;
  }

  .body__about>main>section .about__heading_content>h6 {
    min-width: 600px;
  }
}


/* 
  Pre Donate
  ================
*/

.body__pre_donate {
  background-color: #eda91f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.body__pre_donate > main {
  padding: 106px 2em 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  color: white;
}

.body__pre_donate > main .pre_donate__content {
  max-width: 768px;
  margin: 0 auto;
}

.body__pre_donate > main .pre_donate__content > header {
  margin-bottom: 48px;
}

.body__pre_donate > main .pre_donate__content > p:not([class="type__caption"]) {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  margin: 20px 0;
}

.body__pre_donate > main .pre_donate__content > p:nth-of-type(2) {
  line-height: 1.78;
  letter-spacing: 1.5px;
  font-weight: 300;
}

.body__pre_donate > main .pre_donate__content .button {
  margin-bottom: 32px;
  color: #898787;
}

.body__pre_donate > footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  padding: 64px 2em;
  text-align: center;
  color: white;
  background-image: url(../images/background-picture.png);
  background-position-x: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1065px) {
  .body__pre_donate {
    overflow: hidden;
  }

  .body__pre_donate > main {
    overflow-y: auto;
  }

  .body__pre_donate > footer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: 100%;
    background-position-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/* 
  Contact
  ===================
*/

.body__contact {
  background-image: url(../images/background-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3279c5;
}

.body__contact > header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 106px 2em 48px;
  color: white;
}

.body__contact > header > h5 {
  margin-bottom: 0;
}

.body__contact > main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2em;
}

.body__contact > main > section:first-child {
  color: white;
  max-width: 363px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 363px;
          flex: 0 1 363px;
  margin-bottom: 2em;
}

.body__contact > main > section:first-child > form {
  margin: 0;
}

.body__contact > main > section:first-child > form > .form__group {
  margin-bottom: 1.5em;
}

.body__contact > main > section:first-child > form .form__group > label {
  background-color: #3279c5;
}

.body__contact > main > section:first-child > form .form__group > input[type] {
  padding: 8px 16px;
}

.body__contact > main > section:first-child > form input[type]:focus + label,
.body__contact > main > section:first-child > form input[type]:active + label,
.body__contact > main > section:first-child > form input[type]:valid + label {
  -webkit-transform: translateY(-133%);
          transform: translateY(-133%);
}

.body__contact > main > section:last-child {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body__contact > main > section .contact__content_left,
.body__contact > main > section .contact__content_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.body__contact > main > section > div .p__group {
  padding: 0 2em;
  font-size: 16px;
  line-height: 1;
}

.body__contact > main > section:last-child > p {
  padding: 0 2em;
}

.body__contact > footer {
  color: white;
  text-align: right;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2em;
}

/* 
  Careers
  ===============
*/

.body__careers > header {
  padding: 120px 2em 60px;
  max-width: 1140px;
  margin: 0 auto;
}

.body__careers > header > nav {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #a7a7a7;
  margin-top: 65px;
  line-height: 1.78;
  letter-spacing: 1.2;
  font-size: 18px;
  font-weight: 300;
}

.body__careers > header > nav > a {
  display: block;
}

.body__careers > main > section .careers__section_container {
  max-width: 1140px;
  margin: 0 auto;
}

.body__careers > main > section:first-of-type {
  background-color: #eda91f;
  color: white;
  padding: 56px 2em;
}

.body__careers>main>section:first-of-type > .careers__section_container>h4 {
  margin-top: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 18px;
  line-height: 0.83;
}

.body__careers > main > section:first-of-type > .careers__section_container .p__group {
  font-size: 12px;
  line-height: 1.83;
  -webkit-column-gap: 28px;
          column-gap: 28px;
}

.body__careers > main > section:first-of-type  a.button {
  color: #898787;
}

.body__careers > main > section:nth-of-type(2) {
  padding: 56px 2em;
  color: #a7a7a7;
}

.body__careers > main > section:nth-of-type(2) > .careers__section_container .p__group {
  font-size: 12px;
  line-height: 1.83;
  -webkit-column-gap: 28px;
          column-gap: 28px;
}

.body__careers > main .careers__more {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.body__careers > main > section:nth-of-type(3) {
  background-color: #eda91f;
  color: white;
  padding: 18px 2em;
  text-align: center;
}

.body__careers > main > section:nth-of-type(3) > h4 {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 15px;
  line-height: 0.83;
  font-size: 30px;
}

.body__careers > main > section:last-of-type {
  background-image: url(../images/cta-picture.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 76px 2em;
  color: #eda91f;
  margin-bottom: 95px;
}

.body__careers > main > section:last-of-type > div > p {
  max-width: 363px;
  margin: 0;
  line-height: 1.79;
}

.body__careers > footer {
  padding: 2em;
  max-width: 1140px;
  margin: 0 auto;
  text-align: right;
  color: #a7a7a7;
}

@media (min-width: 768px) {
  .body__careers > main > section:first-of-type > .careers__section_container .p__group,
  .body__careers > main > section:nth-of-type(2) > .careers__section_container .p__group {
    -webkit-columns: 2;
            columns: 2;
  }

  
}

@media (min-width: 1140px) {
  .body__careers > main > section:first-of-type > .careers__section_container .p__group {
    -webkit-columns: 4;
            columns: 4;
  }
}


/* 
  Research
  ===============
*/

.body__research {
  background-color: #36b24e;
}

.body__research > header {
   max-width: 1140px;
   margin: 0 auto;
   padding: 106px 2em 48px;
   color: white;
}

.body__research > header > h6 {
  margin-bottom: 0;
}

.body__research > main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2em 2em;
  color: white;
}

.body__research > main .button {
  color: #898787;
  margin: 24px 0 48px;
}

.body__research > main > section > h6:first-child {
  margin-top: 0;
}

.body__research > main > section:first-of-type .p__group > p {
  font-size: 14px;
}

.body__research > main > section:last-of-type > ul {
  font: 400 14px "Roboto", Helvetica, san-serif;
  letter-spacing: 2.3;
  text-transform: uppercase;
  text-align: center;
}

.body__research > main > section:last-of-type > ul > li {
  display: inline-block;
}

.body__research > main > section:last-of-type > ul > li > a {
  padding: 14px;
  display: block;
}

.body__research > main > section:last-of-type .research__info_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.research__info_cards .research__info_card {
  background-color: white;
  padding: 18px;
  color: #a7a7a7;
  margin: 141px auto 0;
  max-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 265px;
          flex: 1 1 265px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.research__info_cards .research__info_card > span {
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 124.778761%;
  background: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -141px;
}

.research__info_cards .research__info_card > p {
  font-size: 12px;
  line-height: 2;
}

.body__research > footer {
  padding: 2em;
  max-width: 1140px;
  margin: 0 auto;
  text-align: right;
  color: white;
}

@media (min-width: 610px) {
  .research__info_cards .research__info_card {
    max-width: 322px;
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 322px;
            flex: 0 1 322px;
  }
}

@media (min-width: 1140px) {
  .research__info_cards .research__info_card {
    max-width: 265px;
  }

  .body__research > main > section:first-of-type .research__content_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .body__research > main > section:first-of-type .research__content_group .p__group {
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* 
  Training
  ==============
*/

.body__training > header {
  padding: 120px 2em 150px;
  max-width: 1140px;
  margin: 0 auto;
}

.body__training > main > section {
  padding: 48px 2em;
}

.body__training > main > section .training__section_container {
  max-width: 1140px;
  margin: 0 auto;
}

.body__training > main .button {
  color: #898787;
}

.body__training > main > section:first-of-type {
  background-color: #bf202f;
  color: white;
}

.body__training > main > section:first-of-type .training__section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.body__training > main > section:first-of-type h4 {
  margin-top: 0;
  max-width: 1140px;
  margin: 0 auto 45px;
}

.body__training > main > section:first-of-type p {
  font-size: 12px;
  line-height: 1.83;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.body__training > main > section:first-of-type .button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 265px;
          flex: 0 1 265px;
}

.body__training > main > section:nth-of-type(2) .p__group {
  -webkit-column-gap: 28px;
          column-gap: 28px;
  color: #a7a7a7;
  font-size: 12px;
  text-align: justify;
}

.body__training > main > section:nth-of-type(3) {
  background-color: orange;
}

.body__training > main > section:nth-of-type(3) h4 {
  color: white;
  line-height: 1.83;
  letter-spacing: 11.3px;
  max-width: 615px;
  font-weight: 500;
}

.body__training > main > section:last-of-type p {
  font-size: 12px;
  color: #a7a7a7;
}

.body__training > main .training__more {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.body__training > footer {
  padding: 2em;
  max-width: 1140px;
  margin: 0 auto;
  text-align: right;
  color: #a7a7a7;
}

@media (min-width: 400px) {
  .body__training > main > section:first-of-type p {
    min-width: 300px;
  }
}

@media (min-width: 768px) {
  .body__training>main>section:nth-of-type(2) .p__group {
    -webkit-columns: 2;
    columns: 2;
  }

  .body__training > main > section:last-of-type .training__section_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body__training > main > section:last-of-type .training__section_container > .p__group:first-child {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 265px;
              flex: 0 0 265px;
      padding-right: 1em;
  }

  .body__training > main > section:last-of-type .training__section_container > .p__group:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 753px;
            flex: 0 1 753px;
    padding-left: 2em;
    border-left: 5px solid #a7a7a7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 1140px) {
  .body__training>main>section:nth-of-type(2) .p__group {
    -webkit-columns: 3;
    columns: 3;
  }
}

/* 
  Adopt
  ==================
*/

.body__adopt {
  background-color: rgba(191, 32, 47, 0.92);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.body__adopt > main {
  padding: 106px 2em 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  color: white;
}

.body__adopt > main .adopt__content {
  max-width: 768px;
  margin: 0 auto;
}

.body__adopt > main .adopt__content > header {
  margin-bottom: 48px;
}

.body__adopt > main .adopt__content > header > p {
  font: 300 18px "Roboto", Helvetica, san-serif;
  line-height: 1.67;
  letter-spacing: 2.5px;
}

.body__adopt > main .adopt__content > p {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 2.3px;
}

.body__adopt > main .adopt__content .p__group {
  font-size: 12px;
}

.body__adopt > main .adopt__content .adopt__more {
  display: block;
  text-align: right;
  margin: 16px 0;
  
}

.body__adopt > main .adopt__content > div {
  text-align: right;
  color: #898787;
}

.body__adopt > main .adopt__content > div .button {
  margin: 1em 0;
}

.body__adopt > footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  padding: 64px 2em;
  color: white;
  background-image: url(../images/backgroundImage.png);
  background-position-x: 100%;
  background-position-y: -170px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1065px) {
  .body__adopt {
    overflow: hidden;
  }

  .body__adopt > main {
    overflow-y: auto;
  }

  .body__adopt > main .adopt__content > p {
    padding-left: 31px;
  }

  .body__adopt > main .adopt__content .p__group {
    padding-left: 26px;
    position: relative;
  }

  .body__adopt > main .adopt__content .p__group::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    background-color: white;
    width: 5px;
    border-radius: 5px;
  }

  .body__adopt > footer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: 100%;
    background-position-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1190px) {
  .body__adopt>main .adopt__content>div .button:first-child {
    margin-right: 28px;
  }
}

/* 
  Events
  ================
*/

.body__events {
  background-image: url(../images/blue-background.png);
  background-size: cover;
}

.body__events > main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
}

.body__events > main > section {
  padding: 106px 2em 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.body__events > main > section  header {
  margin-bottom: 64px;
}

.body__events > main > section:first-of-type > div {
  margin: 0 auto;
  max-width: 350px;
}

.body__events > main > section .events__event {
  color: white;
  margin: 2em 0 1em;
}

.body__events > main > section .events__event .p__group > ul > li {
  padding-left: 10px;
  position: relative;
}

.body__events > main > section .events__event .p__group > ul > li::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.body__events > main > section:last-of-type {
  background-color: white;
  color: #a7a7a7;
}

.body__events > main > section:last-of-type .events__upcoming > p {
  font-size: 14px;
  letter-spacing: 2.3px;
  line-height: 1.67;
  margin-bottom: 32px;
}

.body__events > main > section:last-of-type .events__upcoming .event__upcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 28px;
}

.body__events > main > section .events__upcoming .event__upcoming .event__upcoming_date {
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.15;
  padding-left: 28px;
}

.body__events > main > section .events__upcoming .event__upcoming .event__upcoming_date > p {
  margin: 0;
}

.body__events > main > section .events__upcoming .event__upcoming .event__upcoming_date > h3 {
  margin-top: 0;
}

.body__events > main > section .events__upcoming .event__upcoming .event__upcoming_details {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  padding: 0 28px;
}

.body__events > main > section .events__upcoming .event__upcoming .event__upcoming_details > p {
  margin: 0;
  font-size: 12px;
}

.body__events > main > section .events__upcoming .event__upcoming .event__upcoming_details > p:first-child {
  font-size: 14px;
}

.body__events footer {
  padding: 2em;
  text-align: right;
}

@media (min-width: 845px) {
  .body__events {
    overflow-y: hidden;
  }
  
  .body__events > main > section:last-of-type {
    height: 100%;
    overflow-y: auto;
  }
}

@media (min-width: 1440px) {

  .body__events > main {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .body__events > main > section:first-of-type {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 865px;
            flex: 0 1 865px;
  }

  .body__events > main > section:first-of-type > div {
    max-width: 100%;
  }

  .body__events > main > section:last-of-type {
    max-width: 575px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 575px;
            flex: 0 1 575px;
  }
}

@media (min-width: 1921px) {
  .body__events > main > section:first-of-type,
  .body__events > main > section:last-of-type {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .body__events > main > section:first-of-type {
    padding-right: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}