/* 
  TABLE OF CONTENTS
  1.  Normalization
  2.  General
  3.  Typegraphy
  4.  Navigation
*/

/* 
  1.  Normalization
  ===================
*/

@import "normalize.css";

/* 
  2.  General
  ===================
*/

body,
html {
  width: 100%;
  min-height: 100%;
  background-color: white;
  font-family: Helvetica, san-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.67;
}

a,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* 
  3.  Typography
  ===================
*/


/* 
  4.  Navigation
  ===================
*/

nav {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #898787;
  color: white;
  text-align: center;
  z-index: 99;
}

.body__home > nav {
  bottom: 0;
}

nav > a {
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 0.85em;
  letter-spacing: 2.3;
}

/* 
  Home
  =====================
*/

.body__home > main {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-image: url("../images/home_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body__home > main .logo {
  display: block;
  width: 262px;
  max-width: 100%;
  padding: 2em 0 0;
  margin: 0 auto;
}